<div ng-controller="DeseaseController">
	<div class="shop-menu" ng-animate="shop"
			ng-class="{true: 'shop-enter', false: 'shop-leave'}[visible]">


		<div class="shop_icon">
			<img ng-src="{{url}}" style="width:75%;"></img>
			<div class="shop-label ramka">
				<span class="shop-label-text" translate="State"></span>
			</div>
		</div>

		<div class="shop_arrow" ng-click="hide()"></div>
		
		<div class="pull-right" style="margin-top:10%;"><button class="btn btn-xs" style="font-size:large" ng-click="showQuiz()">Play Quiz</button></div>

		<div class="text-center shop_menu_grid fa-inverse" style="left:20%">

			<div id="disease-info" ng-show="!hasProblem">
				{{ 'The plantation is in good condition.' | translate }}
			</div>
			<div id="irrigation-slider-container" ng-show="hasProblem">
				<div class="shop_menu_grid" style="top:20%">
					<div class="shop_item_in_grid" ng-repeat="item in deceases">
						<img ng-src="{{item.url}}"></img>
						<button class="btn btn-xs" ng-click="showDeseaseHelp(item)">{{ 'disease.get_help' | translate }}</button>
						<div ng-show="item.help">{{ item.help}}</div>
					</div>
				</div>
			</div>


			
			
			
		</div>
	</div>

</div>
