<div
	style="width: 100%; padding-left: 20%; padding-right: 20%; padding-top: 20%">
	<ul class="list-group">
		<li><h3 class="ramka introduction-menu-item title-text-larger"
				ng-click="onPlay()" ng-mouseenter="hover(menuitems['play'])" ng-mouseleave="leave()">Play</h3></li>
		<li><h3 class="ramka introduction-menu-item title-text-larger"
				ng-click="onHelp()" ng-mouseenter="hover(menuitems['help'])" ng-mouseleave="leave()">Help</h3></li>
		<li><h3 class="ramka introduction-menu-item title-text-larger"
				ng-click="onRules()" ng-mouseenter="hover(menuitems['rules'])" ng-mouseleave="leave()">Rules</h3></li>
	</ul>
</div>
<div style="position: fixed; top: 10%; left: 75%">
	<div>
		<img class="img img-responsive" ng-src="/public/images/master.png" />
	</div>
	<div class="introduction-helper" style="padding:5%">
		<p>{{displayText}}</p>
	</div>
</div>
