<div ng-controller="IrrigationController">
	<div class="shop-menu" ng-animate="shop"
			ng-class="{true: 'shop-enter', false: 'shop-leave'}[visible]">
		
		
		<div class="shop_icon">
			<img src="{{irrigationUrl}}" style="width:75%;"></img>
			<div class="shop-label ramka">
				<span class="shop-label-text" translate="irrigation"></span> 
			</div>
		</div>
		
		<div class="shop_arrow" ng-show="showNext" ng-click="hide()"></div>
		
		<div class="shop_menu_grid fa-stack-2x fa-inverse" ng-show="enableOther">
		
			<div id="irrigation-info" ng-show="holder.best!=null">
				{{ 'tensiometer.recomended' | translate }} {{holder.best}} {{ 'hours' | translate }}
			</div>
			<div id="irrigation-info" ng-show="!hasTensiometer">
				{{ 'irrigation.choose_duration' | translate }}
			</div>
			<div id="irrigation-slider-container">
				<div slider id="irrigation-slider" cfg="cfg" value="holder.duration"></div>
			</div>
			<div>
				<span ng-show="td" >{{td}} h</span>
				<span ng-show="!td" > {{holder.duration}} h</span>
				<button class="btn btn-xs" ng-click="irrigate()">irrigate</button>
			</div>
			<!-- <div class="shop_item_in_grid" ng-repeat="item in items">
				<div class="shop_icon_in_grid" title="{{item.name}}" style="background-image:url('{{item.url}}')" ng-click="itemClick(item)"></div>
			</div> -->
		</div>
	</div>
	
	<div ng-show="!enableOther" class="irrigation-progress"> 
		<div class="progress-bar-irrigation" style="width: {{status}}%;">
			<span>
				{{showStatus | integer}} %
			</span>
		</div>
	</div>
	
</div>
