<div ng-controller="IrrigationController">
	<div class="shop-menu" ng-animate="shop"
			ng-class="{true: 'shop-enter', false: 'shop-leave'}[visible]">
		
		
		<div class="shop_icon">
			<img src="{{type.url}}" style="width:75%;"></img>
			<div class="shop-label ramka">
				<span class="shop-label-text">
					{{ 'irrigation.'+type.name | translate }}
				</span> 
			</div>
		</div>
		
		<div class="shop_arrow" ng-show="showNext" ng-click="hide()"></div>
		
		<div class="shop_menu_grid fa-stack-2x fa-inverse" ng-show="enableOther">
			<div id="mm-rain">
				{{ 'irrigation.mm_rain' | translate: info }}
			</div>
			<div id="irrigation-description">
				{{ 'irrigation.'+type.name+"_info" | translate: type }} 
			</div>
			<div id="irrigation-info" ng-show="holder.best!=null">
				{{ 'irrigation.tensiometer_recomended' | translate }} {{holder.best}} {{ 'hours' | translate }}
			</div>
			<div id="irrigation-info" ng-show="!hasTensiometer">
				{{ 'irrigation.choose_duration' | translate }}
			</div>
			<div id="irrigation-slider-container">
				<div slider class="slider" cfg="cfg" value="holder.duration"></div>
			</div>
			<div>
				<span ng-show="td" >{{td}} h</span>
				<span ng-show="!td" > {{holder.duration}} h</span>
				<button class="btn btn-xs" ng-click="irrigate()">{{ 'irrigation.irrigate' | translate }}</button>
			</div>
			<div class="buy-better-irrigation" ng-show="nextType">
				<div>
					{{ "irrigation."+nextType+"_benefits" | translate}}
				</div>
				<button class="btn btn-xs" ng-click="buy(nextType)">{{ 'action.buy' | translate }} {{ 'irrigation.'+nextType | translate}} </button>
			</div>
		</div>
	</div>
	
	<div ng-show="!enableOther" class="irrigation-progress"> 
		<div class="progress-bar-irrigation" style="width: {{status}}%;">
			<span>
				{{showStatus | integer}} %
			</span>
		</div>
	</div>
	
</div>
