<!-- <img src="/public/images/backgrounds/side-terrain.png" class="side-terrain"/> -->
<div class="scene">
	<div class="field">
		<img src="/public/images/backgrounds/kukarka.png" class="kukja" ng-click="showShop()"/> 
		<img src="/public/images/backgrounds/pozadinski-drva.png" class="back-trees"/>
		<img src="/public/images/backgrounds/field-terrain.png" class="field-terrain"/>
		<div class="field-row" ng-repeat="r in rows">
			<div ng-class="{false: 'pocva-bg', true: 'ograda-bg'}[c.staticV || !planting]" 
				 ng-repeat="c in r.cols"
				 style="width: {{atom}}px; height: {{atom}}px">
				<img ng-show="c.show"  ng-if="!c.staticV" ng-src="{{$root.day.soil_url}}" class="{{c.cls}}" ng-click="soilClick(c)"/>
				<img ng-show="c.show"  ng-if="c.staticV" ng-src="{{c.terrain}}" class="{{c.cls}}"/>
				<img ng-show="planting" src="/public/images/game/apple_tree/11.png" class="{{c.treeCls}}" ng-click="portionClick(c)"/>
				<img ng-if="c.tree===1"  ng-src="{{$root.day.plant_ajdaret}}" class="{{c.treeCls}}" ng-click="treeClick(c)"/>
				<img ng-if="c.tree===2"  ng-src="{{$root.day.plant_crven_delishes}}" class="{{c.treeCls}}" ng-click="treeClick(c)"/>
				<img ng-if="c.tree===3"  ng-src="{{$root.day.plant_zlaten_delishes}}" class="{{c.treeCls}}" ng-click="treeClick(c)"/>
				<img ng-if="c.tree===4"  ng-src="{{$root.day.plant_jonalgold}}" class="{{c.treeCls}}" ng-click="treeClick(c)"/>
				<img ng-if="c.tree===5"  ng-src="{{$root.day.plant_mucu}}" class="{{c.treeCls}}" ng-click="treeClick(c)"/>
			</div>
			
		</div>
	</div>	
</div>

<img src="/public/images/backgrounds/side-trees.png" class="side-trees"/>
<img ng-show="$root.day.eco_points>50" src="/public/images/backgrounds/lake-2.png" class="lake"/>
<img ng-show="$root.day.eco_points<=50" src="/public/images/backgrounds/lake-1.png" class="lake"/>