<div ng-controller="PlowingController">
	<div class="shop-menu" ng-animate="shop"
		ng-class="{true: 'shop-enter', false: 'shop-leave'}[visible]">


		<div class="shop_icon">
			<img src="{{type.url}}" style="width: 75%;"></img>
			<div class="shop-label ramka">
				<span class="shop-label-text"> {{ 'plowing' | translate }} </span>
			</div>
		</div>

		<div class="shop_arrow" ng-click="hide()"></div>

		<div class="shop_menu_grid fa-inverse">
			<p>: Overgrowth of grass on plantations has a myriad of positive
				features: enhancing the soil qualities, boosting water absorption
				from precipitation, mitigation of erosion etc. Plantations are
				high-yielding if overgrown surfaces are properly maintained (for
				e.g. regularly mowed) and if there is increased application of
				fertilizers and water for irrigation. Growth of grass on the
				plantation has both advantages and disadvantages. It can enhance the
				soil quality, boost water absorption, and mitigate erosion. However,
				it can also act as a breeding ground for mice and increase the
				amount of water and nutrients required by the trees. Thus, it is
				important to carefully manage the height and spread of grass on the
				plantation; mowed grass can act as a fertilizer for the trees after
				3 years of growth. In areas with larger amounts of precipitation,
				the grass can be allowed to grow higher. In areas of low
				precipitation it must be kept short.</p>
			<div id="irrigation-slider-container">
				<div slider class="slider" cfg="cfg" value="holder.deep"></div>
			</div>
			<div>
				<span ng-show="!td"> {{holder.deep}} cm</span>
				<button class="btn btn-xs" style="padding: 20px;" ng-click="plow()">{{
					'plowing.plow' | translate }}</button>

			</div>
		</div>



	</div>