<div ng-controller="SellController">

    <div class="shop-menu" ng-animate="shop" ng-class="{true: 'shop-enter', false: 'shop-leave'}[visible]">

        <div class="shop_icon">
            <img src="{{type.ico}}" style="width: 75%;"></img>
            <div class="shop-label ramka">
                <span class="shop-label-text"> {{ 'sell' | translate }}
                </span>
            </div>
        </div>

		<div ng-click="onHelp()" class="pull-right help-button" style="font-size:xx-large; margin-right:10px; margin-top:10px"><i class="glyphicon glyphicon-question-sign" ></i></div>
        <div class="shop_arrow" ng-click="hide()"></div>

        <div class="shop_menu_grid fa-inverse">
        	

            <div style="padding-top:70px" ng-repeat="type in plantation.plantTypes" ng-show="storeCfg[type.name].max>0">
                Unsorted quantity of {{type.name}} ({{storeCfg[type.name].max}} kg): 
                <button class="btn btn-primary btn-xs" ng-click="sell(type, storeCfg[type.name])">Sell</button>
                <div slider class="slider" cfg="storeCfg[type.name]" value="storeCfg[type.name].quantity" ng-show="storeCfg[type.name].max"></div>
                <div>
                    <div>
                        Store {{storeCfg[type.name].quantity || 0}} kg in:
                    </div>
                    <div class="shop_item_in_grid" ng-repeat="item in fridges">
                        <button class="btn btn-primary btn-xs" ng-click="store(item, type, storeCfg[type.name])">Store here</button>
                    </div>
                </div>
            </div>

            <!-- Prikaz na frizderite -->
            <div class="shop_item_in_grid" ng-repeat="item in fridges">
            	<img class="img img-responsive" ng-src="/public/images/fridges/{{item.fridgeType}}.png"/>
                <div class="shop-item-label ">
                    <!-- Kupuvanje na kapacitet na frizder -->
                    <div ng-if="item.fridgeType && item.activeFrom<=farmer.year_order">
                        <div slider class="slider" cfg="cfg[item.fridgeType]" value="fridgesCapacity[item.fridgeType].capacity"></div>
                        <div class="price">{{fridgesCapacity[item.fridgeType].capacity}} kg ({{fridgesCapacity[item.fridgeType].capacity * item.price || integer}} coins)</div>
                        <button class="btn btn-primary btn-xs" ng-click="buyCapacity(item)">Buy capacity</button>
                    </div>
                    <!-- Prikaz na raftovite -->
                    <div ng-repeat="shelf in item.shelfs" ng-click="changeQuantity(shelf)" class="ramka" ng-show="shelf.quantity>0">
                        <img ng-src="{{shelf.plantType.imageurl}}" /> {{shelf.plantType.name}}: {{shelf.quantity}}

                        <!-- Remove slider div-->
                        <div ng-if="shelf.changeQuantity">
                            <div slider class="slider" cfg="shelf.cfg" value="shelf.sliderQuantity"></div>
                            <button class="btn btn-primary btn-xs" ng-click="removeQuantity(shelf,item)">Sell</button>
                        </div>

                    </div>

                    <span class="title-text" translate="{{item.fridgeName}} ({{item.used}} / {{item.capacity}})"></span>
                    <span style="color: red;" ng-if="item.activeFrom>farmer.year_order">Locked!</span>

                </div>
                <div ng-hide="item.used==0"
					class="progress"
					tooltip="NA fridges {{item.used}}kg apples">
				
					<div class="progress-bar" role="progressbar" aria-valuenow="60"
						aria-valuemin="0" aria-valuemax="100"
						style="width: {{gameState.apples_in_na_fridge/gameState.capacityNAFridges* 100}}">
						{{item.used/item.capacity}}
					</div>
				</div>

            </div>
        </div>

    </div>

</div>
