<div ng-controller="TerrainAnalysisController">
	<div class="shop-menu" ng-animate="shop"
			ng-class="{true: 'shop-enter', false: 'shop-leave'}[visible]">
			
		
		
		<div class="shop_icon">
			<img src="{{url}}"></img>
			<div class="shop-label trapezoid-bigger">
				<span class="shop-label-text" translate="terrainAnalysis"></span> 
			</div>
		</div>
		
		<div class="shop_arrow"  ng-click="hide()"></div>

		<div class="shop_menu_grid fa-stack-2x fa-inverse" ng-show="!haveAnalysis">
			<div>
				<span class="text-info">
					Price: 1000
				</span>
			</div>
			<div>
				<button class="btn btn-xs" ng-click="analyse()">Analyse</button>
			</div>
			
		</div>
		<div class="shop_menu_grid" ng-show="haveAnalysis">
			<div class="text-info">
				N: 100
			</div>
			<div class="text-info">
				P: 10
			</div>
			<div class="text-info">
				K: 5
			</div>
			<div class="text-info">
				pH: 6
			</div>
		</div>
	</div>
</div>