<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript"
	src="/public/javascripts/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="/public/javascripts/i18n.js"></script>
<script type="text/javascript" src="/public/javascripts/crafty.js"></script>
<script type="text/javascript" src="/public/javascripts/modelStore.js"></script>
<script type="text/javascript" src="/public/javascripts/terrainShop.js"></script>
<script type="text/javascript" src="/public/javascripts/ItemStore.js"></script>
<script type="text/javascript" src="/public/javascripts/components/compositeDataComponent.js"></script>
<script type="text/javascript" src="/public/javascripts/components/list.js"></script>
<script type="text/javascript" src="/public/javascripts/frames/userframe.js"></script>
<script type="text/javascript" src="/public/javascripts/loadingScene.js"></script>
<script type="text/javascript" src="/public/javascripts/scenes/baseShop.js"></script>
<script type="text/javascript" src="/public/javascripts/scenes/seedlingShop.js"></script>
<script type="text/javascript" src="/public/javascripts/scenes/shop.js"></script>
<script type="text/javascript" src="/public/javascripts/operations.js"></script>
<script type="text/javascript" src="/public/javascripts/land.js"></script>
<script type="text/javascript" src="/public/javascripts/game.js"></script>
<script type="text/javascript" src="/public/javascripts/callback-manager.js"></script>
<script type="text/javascript" src="/public/javascripts/actions.js"></script>
<script type="text/javascript" src="/public/javascripts/toolbar.js"></script>
<script type="text/javascript" src="/public/javascripts/add-or-relpace-plant-callback.js"></script>
<script type="text/javascript" src="/public/javascripts/sprites.js"></script>
<title>Iso</title>
<style>
body,html {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: url("/public/images/sky.png");
}
</style>
</head>
<body>
</body>
</html>