<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Fondamento' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/public/stylesheets/shopwindow.css" />
	<link rel="stylesheet" type="text/css" href="/public/stylesheets/animations.css" />
	<link rel="stylesheet" type="text/css" href="/public/stylesheets/mini-games.css" />
	<link rel="stylesheet" type="text/css" href="/public/bower_components/jquery-ui/themes/smoothness/jquery-ui.css" />
	<link href="/public/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>

	<link href="/public/bower_components/bootstrap/dist/css/font-awesome.min.css" rel="stylesheet"/>
	<link href="/public/bower_components/ng-slider/src/css/ng-slider.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="/public/stylesheets/main.css" />
	<link rel="stylesheet" type="text/css"
	href="/public/bower_components/AngularJS-Toaster/toaster.css"/>
	<link rel="stylesheet" type="text/css" href="/public/bower_components/angular-nvd3/angular-nvd3.js"/>
	<link rel="stylesheet" type="text/css" href="/public/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.css"/>
	<link rel="stylesheet" type="text/css" href="/public/bower_components/angular-audio/css/ng-audio.css"/>
</head>
<body class="body-transition-bkg background-default" style="background: url('/public/images/backgrounds/introduction.jpg'); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat;">




	<div class="introduction-screen">
		<div
			style="padding-top: 8%">
			<div class="container">
				<div class="page-header"><h3>New Farmer Registration</h3></div>
				<form action="/Crafty/saveregistration" method="post">
					<label class="label-control">Username:</label>
					<input class="form-control" style="width:30%" type="text" name="username" required></input>
					<label class="label-control">Password:</label>
					<input class="form-control" style="width:30%" type="password" name="password" required></input>
					<label class="label-control">Repeat Password:</label>
					<input class="form-control" style="width:30%" type="password" name="passwordRepeat" required></input>
					<label class="label-control">E-mail:</label>
					<input class="form-control" style="width:30%" type="email" name="email" required></input>
					<label class="label-control">Name:</label>
					<input class="form-control" style="width:30%" type="text" name="name" required></input>
					<label class="label-control">Surname:</label>
					<input class="form-control" style="width:30%" type="text" name="surname" required></input>
					<div style="color:red">${message}</div>
					<br/>
					
					<input class="btn btn-success" style="color:white !important" type="submit" value="Register"></input>
				</form>
				
			</div>
		</div>
	</div>


</body>
</html>