<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<script type="text/javascript"
		src="/public/javascripts/jquery-1.6.4.min.js"></script>
		<script type="text/javascript" src="/public/javascripts/jquery.transit.min.js"></script>
		<script type="text/javascript" src="/public/javascripts/i18n.js"></script>
		<script type="text/javascript" src="/public/javascripts/crafty.js"></script>
		<script type="text/javascript" src="/public/javascripts/shopwindow.js"></script>
		<link rel="stylesheet" type="text/css" href="/public/stylesheets/shopwindow.css">
		<title>Shop</title>
		<body>
			<div id="user_tile" class="div_wrapper">
				<div id="div_user_icon">
					<span id="span_user_name">Koki</span>
				</div>
				<div id="div_apple_in_stock_info">
					<span id="span_apples_in_stock_info"></span>
				</div>
				<div id="div_money_in_stock_info">
					<span id="span_money_in_stock_info"></span>
				</div>
				<div id="div_eco_points_info">
					<span id="span_eco_point_info"></span>
				</div>

				<div id="div-shop-manu">
					<div id="shop_icon_div_main_menu"></div>
					<div id="shop_arrow_main_menu"></div>
				</div>
				<div id="div-home-screen">
					<span id="weather_title">ВРЕМЕНСКА ПРОГНОЗА</span>
					<div id="home_arrow_main_menu"></div>
					<div id="prodavnica_home_icon"></div>
					<div id="korisnik_home_icon"></div>
					<div id="akcii_home_icon"></div>
					<div id="akcii_home_icon"></div>
					<div id="analiza_home_icon"></div>
				</div>
				
			</div>
		</body>
</html>