<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>

		<script type="text/javascript" src="/public/javascripts/modelStore.js"></script>
		<script type="text/javascript" src="/public/javascripts/crafty.js"></script>

		<script src="/public/bower_components/jquery/dist/jquery.js"></script>
		<script type="text/javascript" src="/public/javascripts/jquery.transit.min.js"></script>
		<script src="/public/bower_components/ng-file-upload/angular-file-upload-shim.min.js"></script>
		<script src="/public/bower_components/angular/angular.js"></script>
		<script src="/public/bower_components/angular-resource/angular-resource.js"></script>
		<script src="/public/bower_components/angular-route/angular-route.js"></script>
		<script src="/public/bower_components/angular-animate/angular-animate.js"></script>
		<script src="/public/bower_components/angular-sanitize/angular-sanitize.js"></script>
		<script src="/public/bower_components/angular-cookies/angular-cookies.js"></script>
		<script src="/public/bower_components/angular-translate/angular-translate.js"></script>
		<script src="/public/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
		<script src="/public/bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
		<script src="/public/bower_components/ng-file-upload/angular-file-upload.js"></script>
		<script src="/public/bower_components/ng-table/ng-table.js"></script>
		<script src="/public/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		<script src="/public/bower_components/angular-strap/dist/angular-strap.min.js"></script>
		<script src="/public/bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
		<script src="/public/bower_components/AngularJS-Toaster/toaster.js"></script>

		<script src="/public/javascripts/ng/app.js"></script>
		<script src="/public/javascripts/ng/services.js"></script>
		<script src="/public/javascripts/ng/filters.js"></script>
		<script src="/public/javascripts/ng/directives-test.js"></script>
		<script src="/public/javascripts/ng/controllers-test.js"></script>
		<script src="/public/javascripts/ng/router.js"></script>
		<title>Test</title>
	</head>
	<body ng-app="Game">

			<button ng-click="nextDay()">Next Day</button>
			<button ng-click="observeOneYear()">One Year Report</button>
			<test-dialog diseases="diseases" report="report"></test-dialog>

	</body>
</html>