<div class="shop-menu" ng-animate="shop" ng-class="{true: 'shop-enter', false: 'shop-leave'}[visible]">
  <div class="shop_icon">
       <img src="/public/images/home/history.png" style="width: 75%;"></img>
      <div class="shop-label ramka">
          <span class="shop-label-text"> {{ 'history' | translate }}
          </span>
      </div>
  </div>

  <div class="shop_arrow" ng-click="hide()"></div>

  <div class="shop_menu_grid fa-inverse text-center">
  	<div class="page-header text-center">
  		<h3>List of operations applies this year</h3>
  	</div>
    <table class="table table-condensed">
    	<thead>
    	<tr>
    		<th align="center" valign="center" class="col-md-4 text-center"></th>
    		<th align="center" valign="center" class="col-md-4 text-center" >Operation</th>
    		<th align="center" valign="center" class="col-md-4 text-center">Date</th>
    		
    	</tr>
    	</thead>
    	<tbody>
    	<tr ng-repeat="operation in history">
    		<td align="center" valign="center"><img style="max-width:100px" ng-src="{{operation.operation.icon_url}}"/></td>
    		<td align="center" valign="center">{{operation.operation.name}}</td>
    		<td align="center" valign="center">{{operation.logdate}}</td>
    	</tr>
    	</tbody>
    </table>
  </div>
</div>