
<div class="side-screen-bg" style='width:{{bgw}}px;height:{{bgh}}px'  ng-click='hide()'></div>
<div class="side-screen" ng-animate="slide"
	ng-class="{true: 'slide-enter', false: 'slide-leave'}[visible]">


	<div class="side-arrow" ng-click="close()"
		ng-animate="{enter: 'rotateCounterwise', leave: 'rotate'}"
		ng-class="{false: 'rotate', true: 'rotateCounterwise'}[visible]"></div>



	<div class="resume-dialog">
		<div class="container shop-label-text" style="color: white; width:100%">
			<h2>Resume for previous year</h2>
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img class="img-resume" src="/public/images/coinbucket.png" />
						<div class="caption text-center">
							<h5>Money earned ${{resumeData.data.intTypes.moneyEarned.message[0]}}</h5>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-4">
					<div class="thumbnail">
						<img class="img-resume" src="/public/images/home/apples_gained2.png" />
						<div class="caption text-center">
							<h5>Apples sold {{resumeData.data.intTypes.applesSold.message[0]}}kg</h5>
						</div>
					</div>
				</div>
				
				<div class="col-xs-6 col-md-4">
					<div class="thumbnail">
						<img class="img-resume" src="/public/images/game/deceases/Aphid.png" />
						<div class="caption text-center">
							<h5>FireBlight {{resumeData.data.hashTypes.diseasesOccurred.message['FireBlight']}}kg</h5>
						</div>
					</div>
				</div>
				
				<div class="col-xs-6 col-md-4">
					<div class="thumbnail">
						<img class="img-resume" src="/public/images/game/deceases/Aphid.png" />
						<div class="caption text-center">
							<h5>Aphid {{resumeData.data.hashTypes.diseasesOccurred.message['Aphid']}}kg</h5>
						</div>
					</div>
				</div>
				
				<div class="col-xs-6 col-md-4">
					<div class="thumbnail">
						<img class="img-resume" src="/public/images/game/deceases/CodlingMoth.png" />
						<div class="caption text-center">
							<h5>CodlingMoth {{resumeData.data.hashTypes.diseasesOccurred.message['CodlingMoth']}}kg</h5>
						</div>
					</div>
				</div>
				
				<div class="col-xs-6 col-md-4">
					<div class="thumbnail">
						<img class="img-resume" src="/public/images/game/deceases/Konidia.png" />
						<div class="caption text-center">
							<h5>Konidia {{resumeData.data.hashTypes.diseasesOccurred.message['Konidia']}}kg</h5>
						</div>
					</div>
				</div>
				
				<div class="col-xs-6 col-md-4">
					<div class="thumbnail">
						<img class="img-resume" src="/public/images/game/deceases/Ascospore.png" />
						<div class="caption text-center">
							<h5>Ascospore {{resumeData.data.hashTypes.diseasesOccurred.message['Ascospore']}}kg</h5>
							<p></p>
						</div>
					</div>
				</div>
				
			</div>
			
			
			
		</div>

	</div>





</div>
