<div id="div-shop-manu" ng-animate="shop"
		ng-class="{true: 'shop-enter', false: 'shop-leave'}[visible]">
	<div id="shop_icon_div_main_menu" style="background-image:url('{{storeUrl}}')"></div>
	<div id="shop_arrow_main_menu" ng-show="showNext" ng-click="hide()"></div>
	<div class="shop_menu_grid">
		<div class="shop_item_in_grid" ng-repeat="item in items">
			<div class="shop_icon_in_grid" title="{{item.name}}" style="background-image:url('{{item.url}}')" ng-click="itemClick(item)"></div>
		</div>
	</div>
</div>