<div class="shop-menu" ng-animate="shop"
	ng-class="{true: 'shop-enter', false: 'shop-leave'}[visible]">
	

	<div class="shop_icon">

		<img class="shop_icon-img" ng-src="{{storeUrl}}"
			popover-trigger="mouseenter" popover-placement="bottom"
			popover="{{shop.description}}"></img>
		<div class="shop-label ramka" popover-trigger="mouseenter"
			popover-placement="bottom" popover="{{shop.description}}">
			<span class="shop-label-text">{{shop.name | translate}}</span>
		</div>
	</div>

	<div class="shop_arrow" ng-show="showNext" ng-click="hide()"></div>

	<div class="shop_menu_grid">
		<div class="shop_item_in_grid" ng-repeat="item in items"
			ng-click="itemClick(item)" ng-mouseover="onHover(item)"
			ng-mouseleave="onHide()">
			<div class="shop-item-name ramka">{{item.name | translate}}</div>
			<div class="shop-item-label ramka" ng-if="item.active"
				ng-click="itemClick(item)">
				<span class="title-text" translate="{{item.name}}"></span>
			</div>
			<img ng-src="{{item.url}}"></img>
			<div class="shop-item-label ramka" ng-if="item.active"
				ng-click="itemClick(item)">
				<span class="title-text" translate="{{item.name}}"></span>
			</div>
			<div class="shop-item-price" ng-show="item.price">{{price(item)}}</div>
		</div>
	</div>
</div>