
<div class="side-screen-bg" style='width:{{bgw}}px;height:{{bgh}}px' ng-click='hide()'></div>
<div class="side-screen" ng-animate="slide"
		ng-class="{true: 'slide-enter', false: 'slide-leave'}[visible]">

	
	<div class="side-arrow" ng-click="onClick()" ng-animate="{enter: 'rotateCounterwise', leave: 'rotate'}"
		ng-class="{false: 'rotate', true: 'rotateCounterwise'}[visible]"></div>
		
		
		
	<div class="side-items-grid">
		<div class="side-items-grid-item" 
				ng-repeat="a in $root._items" ng-click="executeItem(a)">
			<div class="side-item-top">
				<img src="{{a.url}}"></img>
			</div>
			<div class="item-bought ramka" ><span class="title-text" translate="{{a.name}}"></span></div>
			<!-- <span class="side-item-label" ></span>	  -->
		</div>
	</div>
	<div class="side-operations-grid">
		<div class="side-operations-grid-item" ng-if="a.ico"
				ng-repeat="a in actions"
				ng-click="itemClick(a)">
			<div class="side-operation-item-top">
				<img src="{{a.ico}}"></img>
			</div>
			<div class="item-store ramka" ><span class="title-text-larger" translate="{{a.name}}" ng-click="itemClick(a)"></span></div>
			<!-- <span class="side-operation-item-label" translate="{{a.name}}" ng-click="itemClick(a)"></span>	 -->	
		</div>
	</div>
		
		
	
</div>
