
<div class="side-screen-bg" style='width:{{bgw}}px;height:{{bgh}}px' ng-click='hide()'></div>
<div id="div-side-screen" ng-animate="slide"
		ng-class="{true: 'slide-enter', false: 'slide-leave'}[visible]">

	<span id="weather_title">ВРЕМЕНСКА ПРОГНОЗА</span>
	<div id="home_arrow_main_menu" ng-click="onClick()" ng-animate="{enter: 'rotateCounterwise', leave: 'rotate'}"
		ng-class="{false: 'rotate', true: 'rotateCounterwise'}[visible]"></div>


	<div class="weather_wrapper" ng-if="weather">
		<div class="weather-div" ng-repeat="w in weather">
			<img class="weather_icon" src="/public/images/game/{{w.icon_url}}.png" />
			<span>{{w.date}}</span>
		</div>
	</div>

	<div class="side-icon-{{a.order}}" ng-if="a.ico"
			style="background-image: url('{{a.ico}}')"
			ng-repeat="a in actions"
			ng-click="itemClick(a)"></div>

</div>
