<div>
	<div style="text-align: center">
		<span style="font-size: x-large">{{$root.day.gameDate.date}}</span>
	</div>
	<div style="float:left">
		<h3>Basic Farmer Info</h3>
		<div style="clear:both">
			<div style="float:left">
				<span>Username: </span>
			</div>
			<div style="float:left;margin-left: 5px;">
				{{$root.day.username}}
			</div>
		</div>
		<div style="clear:both">
			<div style="float:left">
				<span>Balance: </span>
			</div>
			<div style="float:left;margin-left: 5px;">
				{{$root.day.balans}}
			</div>
		</div>
		<div style="clear:both">
			<div style="float:left;">
				<span>Eco-points:</span>
			</div>
			<div style="float:left;margin-left: 5px;">
				{{$root.day.eco_points}}
			</div>
		</div>
		<div style="clear:both">
			<div style="float:left">
				<span>Farmer-Luck: </span>
			</div>
			<div style="float:left;margin-left: 5px;">
				{{($root.day.luck*100).toFixed(2)}}
			</div>
		</div>
	</div>
	<div style="float:left; margin-left: 40px">
		<h3>Cumulative values</h3>
		<div>
			<div style="float:left">
				<span>Cum. humidity:</span>
			</div>
			<div style="float:left">
				<span>{{$root.day.cumulativeHumidity}} mm</span>
			</div>
		</div>
		<div>
			<div style="float:left">
				<span>Cum. Leaf Humidity:</span>
			</div>
			<div style="float:left">
				<span>{{$root.day.cumulativeLeafHumidity}} min</span>
			</div>
		</div>
	</div>
	<div style="float:left; margin-left: 40px;">
		<h3>Diseases Info</h3>
		<div ng-repeat="disease in diseases">
			<span>{{disease.name}}</span>
			<span>{{disease.probability.toFixed(1)}}</span>
		</div>
	</div>
	<div style="float:left; margin-left: 40px;">
		<h3>Day Info</h3>
		<div>
			<span>Weather Type:</span>
			<span>{{$root.day.gameDate.weatherType}}</span>
		</div>
		<div>
			<span>Temp Low:</span>
			<span>{{$root.day.gameDate.tempLow.toFixed(0)}} C</span>
		</div>
		<div>
			<span>Temp High:</span>
			<span>{{$root.day.gameDate.tempHigh.toFixed(0)}} C</span>
		</div>
		<div>
			<span>humidity:</span>
			<span>{{$root.day.gameDate.humidity}}</span>
		</div>
		<div>
			<span>humidityOfLeaf:</span>
			<span>{{$root.day.gameDate.humidityOfLeaf}}</span>
		</div>
		<div>
			<span>UV:</span>
			<span>{{($root.day.gameDate.uvProb*10).toFixed(0)}}</span>
		</div>
		<div>
			<span>iceProb:</span>
			<span>{{$root.day.gameDate.iceProb.toFixed(2)}}</span>
		</div>
	</div>
	<div style="float:left; margin-left: 40px;">
		<span>{{report}}</span>
		<!-- <div ng-repeat="diseaseinfo in $root.oneyearreport">
			<span>{{diseaseinfo.FireBlight}}</span>
		</div>	 -->	
	</div>
</div>
