<div class="tip-dialog alert-dismissible row" ng-if="tip" role="alert">
	<custom-audio-nonsupervised ng-if="$root.soundsEnabled" filename="/public/sounds/events/tip_expert.mp3" loop='false' start-on-init='true'></custom-audio-nonsupervised>
    <div style="background-color: black !important;">
        <div class="col-md-3">

            <img class="img img-responsive"  ng-src="/public/images/master.png" />
            <span><b>PrespaVille Expert</b></span>
        </div>
        <div class="col-md-8"><span>{{tip}}</span>
        </div>
        <div style="float:left">
        <button type="button" ng-click="closeTip()" style="margin-left:-30px" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </div>
        </button>
    </div>
    <div class="text-right"><a href="" ng-click="startSideShow()">Open</a></div>
</div>
