<div class="tip-dialog alert-dismissible row" ng-show="tip" role="alert">
    <div style="background-color: black !important;">
        <div class="col-md-4">

            <img class="img img-responsive" ng-src="/public/images/master.png" />
            <span><b>PrespaVille Expert</b></span>
        </div>
        <div class="col-md-7"><span>{{tip}}</span>
        </div>
        <button type="button" ng-click="closeTip()" class="close col-md-1"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
    </div>
</div>
