<div id="user_tile">
	
	<div id="div_user_icon">
		<img ng-src="{{gameState.picture}}" class="img-user-info img img-responsive" />
		<div class="img-user-info-ramka">
			<span id="span_user_name">{{gameState.name}}</span>
		</div>
	</div>

	<div id="div_apple_in_stock_info" class="div-user-info-general">

		<img class="user_icons_info"
			src="/public/images/home/apple_icon_in_stock.png" /> <span
			class="span-user-info-details">{{gameState.productQuantity}}</span>

		<button
			ng-hide="(gameState.capacityNAFridges + gameState.capacityCAFridges)==0"
			type="button" style="padding: 3px 3px"
			class="btn btn-default dropdown-toggle span-user-info-details"
			data-toggle="dropdown">
			<span class="caret"></span>
		</button>

		<ul class="dropdown-menu" role="menu"
			style="background-color: #3c3c3c; opacity: 0.9; padding: 10px">
			
			<li>
				<button class="btn btn-primary" ng-click="sell()">Sell</button>
			</li>
		</ul>
	</div>

	<div id="div_money_in_stock_info" class="div-user-info-general">
		<img class="user_icons_info" src="/public/images/home/money_in_stock.png" /> 
		<span class="span-user-info-details">{{gameState.balans | integer}}</span>
	</div>
	
	<div id="div_eco_points_info" class="div-user-info-general">
		<img class="user_icons_info" src="/public/images/home/eco_points_in_stock.png" /> 
		<span class="span-user-info-details">{{gameState.eco_points | integer}}</span>
	</div>
	
	<!-- <div id="div_next_day" ng-click="next()">
		<span id="span_next_day">Next day</span>
	</div> -->
</div>