body {
	font-family: 'PT Sans Narrow', sans-serif;
	color: #fff;
	scrollbar-face-color: #6a2d04;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #FFFFFF;
}
::-webkit-scrollbar {
      width: 15px;
}
::-webkit-scrollbar-track {
      background-color: #906012;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); 
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {
     /* background-color: #6a2d04;*/
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-corner {
      background-color: black;
}

}
.flexcroll {
	scrollbar-face-color: #6a2d04;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #FFFFFF;
}

/* Let's get this party started */
.flexcroll::-webkit-scrollbar {
	width: 12px;
}

/* Track */
.flexcroll::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

/* Handle */
.flexcroll::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.popover {
	color: #666;
}

ul {
	list-style: none;
}

.btn,.btn-default {
	background: #7e571a;
	color: white;
	-webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.17);
	-moz-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.17);
	box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.17);
	border-color: #503306;
}

input {
	color: #666 !important;
}

.clear {
	clear: both;
}

.btn:hover,.btn-default:hover {
	color: #ddd;
	background: #7e571a;
}

.body-scale-background {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.body-transition-bkg {
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	transition: background 0.5s linear;
}

.weather-div-transition {
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-ms-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
}

.scene {
	position: fixed;
	bottom: 10px;
	right: 10%;
	z-index: 5;
	width: 62%;
}

.kukja {
	position: fixed;
	left: -30%;
	top: -4%;
	z-index: -1;
	width: 26%;
	-webkit-transform: skew(45deg);
	-moz-transform: skew(45deg);
	-o-transform: skew(45deg);
	-webkit-transform: skew(45deg);
	cursor: pointer;
}

.back-trees {
	width: 110%;
	z-index: -10;
	margin-bottom: -3%;
	margin-left: -9%;
	-webkit-transform: skew(45deg);
	-moz-transform: skew(45deg);
	-o-transform: skew(45deg);
	-webkit-transform: skew(45deg);
}

.side-trees {
	position: fixed;
	bottom: 0;
	z-index: 10;
	width: 25%;
	pointer-events: none;
}

.field-terrain {
	width: 160%;
	position: fixed;
	z-index: -20;
	margin-left: -30%;
}

.lake {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 20%;
	z-index: 0;
}

.field {
	-webkit-transform: skew(-45deg);
	-moz-transform: skew(-45deg);
	-o-transform: skew(-45deg);
	margin-top: -5%;
}

.field-row {
	clear: both;
}

.ground {
	width: 100%;
	height: 60%;
	background-image: url("/public/images/ground-bg.png");
	position: fixed;
	bottom: 0px;
}

.ground-dole {
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0px;
}

.pocva-bg {
	float: left;
	border: 0px solid red;
}

.ograda-bg {
	float: left;
	border: 0px solid red;
}

.pocva-bg:hover {
	border: 1px solid black;
}

.pocva:hover img.pocva {
	/*border: 1px solid black; */
	-webkit-transform: translate3d(-2px, -5px, 2px);
	transform: translate3d(0, 0, 0);
}

img.pocva {
	width: 110%;
	height: 110%;
}

img.ograda-gore {
	width: 110%;
	height: 110%;
	margin-left: -50%;
	-webkit-transform: skew(45deg);
	-moz-transform: skew(45deg);
	-o-transform: skew(45deg);
	-webkit-transform: skew(45deg);
}

.seedling {
	width: 100%;
	height: 200%;
	-webkit-transform: skew(45deg);
	-moz-transform: skew(45deg);
	-o-transform: skew(45deg);
	z-index: 6;
	margin-top: -225%;
	margin-left: -75%;
	float: left;
}

.clickable {
	cursor: pointer;
}

.no-mouse-event {
	pointer-events: none;
}

.seed-no-click {
	pointer-events: none;
}

.text-info {
	text-align: center;
	color: white;
	font-size: 1.1em;
}

.irrigation-progress {
	position: fixed;
	left: 10%;
	bottom: 0;
	z-index: 10000;
	width: 60%;
}

.tensiometer-progress {
	width: 44px;
	height: 116px;
	position: fixed;
	left: 8%;
	bottom: 5%;
	z-index: 10000;
	background-image: url("/public/images/elems/tensiometer.png");
	background-size: 100% 100%;
}

.slider {
	height: 10px;
	z-index: 1000;
}

#irrigation-slider-container {
	margin: 30px 30px 30px 30px;
	font-size: xx-large;
}

.ui-slider-horizontal .ui-slider-handle {
	top: -3px;
	margin-left: -6px;
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.shop-left {
	margin-left: 50px;
}

#irrigation-slider-container td {
	font-size: 0.5em;
}

.fertilizer-price {
	text-align: right;
}

.game-dialog {
	background-image: url('/public/images/home/drven_el.png');
	background-size: 100% 100%;
	background-color: transparent;
	border: none;
	padding-bottom: 40px;
}

.fb-modal-sharelike {
	width: 95%;
	height: 100%;
	z-index: 99999;
	position: fixed;
	margin: auto;
	background-image: url("/public/images/home/fb_drven_el.png");
	background-size: 100% 100%;
	margin-top: -80px;
}

.fb-sharelike-container {
	position: relative;
	padding: 100px 180px;
	padding-top: 160px;
}

.fb-share-button {
	padding: 0 7px;
}

.fb-modal-friends {
	width: 95%;
	height: 100%;
	z-index: 9999;
	position: fixed;
	margin: auto;
	background-image: url("/public/images/home/fb_drven_el.png");
	background-size: 100% 100%;
	margin-top: -80px;
}

.fb-friends-container {
	position: relative;
	padding: 10% 15%;
	padding-top: 15%;
}

.fb-friends-grid {
	list-style: none;
	overflow-y: scroll;
	height: 400px;
}

.fb-friends-grid li {
	float: left;
	position: relative;
	width: 155px;
}

.fb-friends-grid li:hover {
	box-shadow: 5px 5px 5px #000;
}

.fb-grid-back {
	width: 150px;
}

.fb-grid-img {
	margin-left: -105px;
	margin-top: -20px;
}

.fb-grid-name {
	font-size: 10px;
	margin-top: -40px;
	font-weight: bold;
	color: white;
	text-align: center;
}

.li-inner {
	
}

.modal-content {
	background-color: transparent;
	background-clip: padding-box;
	border: none;
	border-radius: none;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.modal-dialog {
	margin-top: 0px;
}

.board-bg {
	background-image: url('/public/images/home/tip-board-bg.png');
	position: fixed;
	top: 80px;
	left: 300px;
	width: 660px;
	height: 600px;
	background-size: 100% 100%;
	padding: 10px;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.select-seedling-quantity {
	color: white;
}

.seedling-planting {
	z-index: 5000;
	height: 100%;
	width:95%;
	overflow-y: auto;
	overflow-x: auto;
	overflow-y: auto;
}

#div_timeline_travel {
	position: absolute;
	top: 120px;
	z-index: 100;
	height: 200px;
	width: 200px;
	opacity: 0.9;
}

.time-controls {
	width: 125px;
	height: 30px;
	margin: 10px;
	padding: 5px;
}

.seedling-type-header {
	height: 80px;
}

.seedling-price {
	cursor: pointer;
	font-size: 18px;
	background: #3f8f04;
}

.td-price {
	text-align: center;
}

.tip-bottom-left {
	width: inherit;
	height: 50px;
	background: blue;
	position: absolute;
	top: 3;
}

div.select-seedling {
	padding-left: 100px;
}

div.select-seedling-quantity {
	
}

.rotate90 {
	-ms-transform: rotate(270deg); /* IE 9 */
	-webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
	transform: rotate(270deg);
}

div.select-seedling-quantity td {
	padding: 5px;
}

.tip-dialog {
	position: fixed;
	top: 60%;
	left: 20px;
	width: 300px;
	z-index: 99999;
	font-size: small;
	background-image: url('/public/images/home/tip-board-bg.png');
	background-size: 100% 100%;
	padding: 15px;
	color: white;
}

.green {
	background-color: green !important;
}

.red {
	background-color: red !important;
}

.padding15 {
	padding-left: 15%;
}

.rankings {
	cursor: pointer;
}

.history {
	cursor: pointer;
}

.img-resume {
	width: 100px;
	max-height: 95px;
}

.introduction-menu-item {
	width: 200px;
	padding: 10px;
	text-align: center;
	color: white;
}

.introduction-menu-item.play {
	width: 300px;
	font-size: xx-large;
}

.introduction-menu-item:hover {
	cursor: pointer;
}

.master-big-icon {
	width: 140%;
}

.master-small-icon {
	width: 100%;
}

#style-4::-webkit-scrollbar-thumb {
	background-color: #000000;
	border: 2px solid #555555;
}

.div-season {
	position: absolute;
	top: 1%;
	right: 13%;
	z-index: 999;
}

.nopadding {
	padding: 0px !important;
}

.sound-manager-position {
	position: fixed;
	top: 3px;
	right: 30px;
	z-index: 5000
}

.sound-icon:HOVER {
	cursor: pointer;
}

.thumb-custom {
	background-color: rgba(255, 255, 255, 0.4);
}

.overlay-dark {
	background: #333333;
	opacity: 0.9;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 1010 !important;
}

.help-button:HOVER {
	cursor: pointer;
}

.background-default {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b3dced+0,29b8e5+50,bce0ee+100;Blue+Pipe */
	background: #b3dced; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #b3dced),
		color-stop(50%, #29b8e5), color-stop(100%, #bce0ee));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
	/* IE10+ */
	background: linear-gradient(135deg, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
	/* W3C */
}

.operation-on-field {
	width: 100%;
	height: 100%;
}

.notification-panel {
	position: fixed;
	bottom: 0%;
	right: 15%;
	width: 300px;
	z-index: 999;
	font-size: small;
	padding: 25px;
	color: white;
}

.notification-panel .rounded {
	width: 5rem;
	height: 5rem;
	background-color: red;
	border-radius: 30px;
	float: left;
	margin-right: 5px;
}

.rounded.ng-enter,.rounded.ng-leave,.rounded.ng-anchor,.rounded.ng-animate,.rounded.ng-show,.rounded.ng-hide
	{
	transition: 1s ease-in;
}

.rounded:HOVER {
	cursor: pointer;
}

.rounded.ng-enter {
	transform: translateY(100px);
	width: 1rem;
	height: 1rem;
}

.rounded.ng-enter.ng-enter-active {
	transform: translateY(0px);
	width: 5rem;
	height: 5rem;
}

.rounded.ng-leave {
	transform: translateY(0px);
	width: 5rem;
	height: 5rem;
}

.rounded.ng-leave.ng-leave-active {
	transform: translateY(100px);
	width: 1rem;
	height: 1rem;
}

.tensiometer-group {
	background-color: #333333;
	border-radius: 5px;
	height: 115px;
	padding: 10px;
}

.buy-better-irrigation {
	
}

.btn-default.disabled,.btn-default.disabled.active,.btn-default.disabled.focus,.btn-default.disabled:active,.btn-default.disabled:focus,.btn-default.disabled:hover,.btn-default[disabled],.btn-default[disabled].active,.btn-default[disabled].focus,.btn-default[disabled]:active,.btn-default[disabled]:focus,.btn-default[disabled]:hover,fieldset[disabled] .btn-default,fieldset[disabled] .btn-default.active,fieldset[disabled] .btn-default.focus,fieldset[disabled] .btn-default:active,fieldset[disabled] .btn-default:focus,fieldset[disabled] .btn-default:hover
	{
	background-color: red;
	color: white;
}

.menu-item-quiz {
	background: #7e571a;
	padding: 20px 5px;
	margin: 3px;
	border-radius: 5px;
}

.menu-item-quiz:HOVER {
	cursor: pointer;
	background: #333333;
}