
@font-face {
	font-family: "ag-font";
	src: url("ag.otf");
}

.body-scale-background {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.body-transition-bkg {
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	transition: background 0.5s linear;
}

.weather-div-transition {
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-ms-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
}

.scene {
	position: fixed;
	bottom: 0;
	right: 10%;
	z-index: 5;
	width: 62%;
}

.kukja {
	position: fixed;
	left: -30%;
	top: -4%;
	z-index: -1;
	width: 26%;
	-webkit-transform: skew(45deg);
	-moz-transform: skew(45deg);
	-o-transform: skew(45deg);
	-webkit-transform: skew(45deg);
}

.back-trees {
	width: 110%;
	z-index: -10;
	margin-bottom: -3%;
	margin-left: -9%;
	-webkit-transform: skew(45deg);
	-moz-transform: skew(45deg);
	-o-transform: skew(45deg);
	-webkit-transform: skew(45deg);
}

.side-trees {
	position: fixed;
	bottom: 0;
	z-index: 10;
	width: 25%;
}

.field-terrain {
	width: 160%;
	position: fixed;
	z-index: -20;
	margin-left: -30%;
}

.lake {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 20%;
	z-index: 0;
}

.field {
	-webkit-transform: skew(-45deg);
	-moz-transform: skew(-45deg);
	-o-transform: skew(-45deg);
	margin-top: -5%;
}

.field-row {
	clear: both;
}

.ground {
	width: 100%;
	height: 60%;
	background-image: url("/public/images/ground-bg.png");
	position: fixed;
	bottom: 0px;
}

.ground-dole {
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0px;
}

.pocva-bg {
	float: left;
	border: 0px solid red;
}

.pocva-bg:hover {
	border: 1px solid black;
}

.pocva:hover img.pocva {
	/*border: 1px solid black; */
	-webkit-transform: translate3d(-2px, -5px, 2px);
	transform: translate3d(0, 0, 0);
}

img.pocva {
	width: 110%;
	height: 110%;
	cursor: pointer;
}

img.ograda-gore {
	width: 110%;
	height: 110%;
	margin-left: -50%;
	-webkit-transform: skew(45deg);
	-moz-transform: skew(45deg);
	-o-transform: skew(45deg);
	-webkit-transform: skew(45deg);
}

.seedling {
	width: 100%;
	height: 200%;
	-webkit-transform: skew(45deg);
	-moz-transform: skew(45deg);
	-o-transform: skew(45deg);
	z-index: 6;
	margin-top: -225%;
	margin-left: -75%;
	float: left;
}

.text-info {
	text-align: center;
	font-family: ag-font;
	color: white;
	font-size: 1.1em;
}

.irrigation-progress {
	position: fixed;
	left: 10%;
	bottom: 0;
	z-index: 10000;
	width: 60%;
}

.tensiometer-progress {
	width: 44px;
	height: 116px;
	position: fixed;
	left: 8%;
	bottom: 5%;
	z-index: 10000;
	background-image: url("/public/images/elems/tensiometer.png");
	background-size: 100% 100%;
}

#irrigation-slider {
	height: 10px;
	z-index: 1000;
}

#irrigation-slider-container {
	margin: 30px 30px 30px 130px;
}

.ui-slider-horizontal .ui-slider-handle {
top: -3px;
margin-left: -6px;
}

.ui-slider .ui-slider-handle {
position: absolute;
z-index: 2;
width: 16px;
height: 16px;
cursor: default;
}

