@font-face {
	font-family: "ag-font";
	src: url("ag.otf");
}

.body-scale-background {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.shop-enter,.shop-leave {
	-webkit-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-moz-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-ms-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-o-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.shop-enter {
	right: 350px;
}

.shop-leave {
	right: -750px;
}

.shop-menu {
	position: fixed;
	width: 40%;
	height: 70%;
	top: 20%;
	background-image: url("/public/images/home/ploca.png");
	background-size: 100% 100%;
	z-index: 20
}

.shop_icon {
	position: absolute;
	width: 180px;
	height: 170px;
	top: -110px;
	display: inline-block;
}

.shop_icon img {
	width: 100%;
}

.shop_arrow {
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 2%;
	right: 2%;
	cursor: pointer;
	background-image: url("/public/images/home/prodavnica_strelka.png");
	background-size: 100% 100%;
	z-index: 1000;
}

.shop_menu_grid {
	position: absolute;
	width: 70%;
	height: 80%;
	top: 10%;
	left: 25%;
}

.shop-label {
	text-align: center;
	min-width: 100%;
	min-height: 30px;
}

.shop-label-text {
	position: relative;
	top: -33px;
	font-family: ag-font;
	color: white;
	font-size: 28px;
}

.shop_item_in_grid {
	width: 33%;
	padding-right: 5px;
	float: left;
	text-align: center;
	z-index: 300;
	cursor: pointer;
	float: left;
}

.shop_item_in_grid img {
	width: 100%;
	height: 100%;
}

.shop-item-label {
	text-align: center;
	min-width: 100%;
	min-height: 30px;
	color: white;
}

.shop-item-price {
	display: block;
	margin-top: -20px;
	background-image: url("/public/images/game/pricetag.png");
	width: 120px;
	height: 50px;
	background-size: 100% 120%;
	background-position: 0px -15px;
	background-repeat: no-repeat;
	text-align: right;
	font-family: ag-font;
	color: white;
	font-size: 20px;
	padding-right: 25px;
}

.rotate,.rotateCounterwise {
	-webkit-transition: 300ms ease all;
	-moz-transition: 300ms ease all;
	-o-transition: 300ms ease all;
	transition: 300ms ease all;
}

.rotate {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.rotateCounterwise {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

.modal-backdrop {
	opacity: 0.7;
}

.slide-enter,.slide-leave {
	-webkit-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-moz-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-ms-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-o-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.slide-leave {
	right: -43%;
}

.slide-enter {
	right: -1%;
}

.side-screen {
	position: fixed;
	width: 55%;
	height: 100%;
	z-index: 1000;
	top: 0px;
	background-image: url("/public/images/home/ploca.png");
	background-size: 100% 100%;
}

.side-screen-bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	opacity: 0;
}

.side-arrow {
	position: relative;
	width: 8%;
	height: 8%;
	top: 3%;
	left: 4%;
	cursor: pointer;
	background-image: url("/public/images/home/prodavnica_strelka.png");
	background-size: 100% 100%;
}

.side-items-grid {
	position: absolute;
	width: 75%;
	height: 40%;
	top: 10%;
	left: 23%;
}

.side-items-grid-item {
	width: 20%;
	height: 20%;
	margin: 3px;
	float: left;
	text-align: center;
}

.side-item-top {
	width: 100%;
	display: block;
}

.side-item-top img {
	width: 100%;
	height: 100%;
}

.side-item-label {
	text-align: center;
	font-family: ag-font;
	color: white;
	font-size: 100%;
	display: block;
	margin: -3%;
	padding: 3%;
}

.side-operations-grid {
	position: absolute;
	width: 75%;
	height: 50%;
	top: 45%;
	left: 23%;
}

.side-operations-grid-item {
	width: 32%;
	height: 48%;
	cursor: pointer;
	float: left;
}

.side-operation-item-top {
	width: 100%;
	display: block;
}

.side-operation-item-top img {
	width: 100%;
	height: 100%;
}

.side-operation-item-label {
	text-align: center;
	font-family: ag-font;
	color: white;
	font-size: 160%;
	cursor: pointer;
	display: block;
	margin: -3%;
	padding: 3%;
}

.side-operation-item-label:hover {
	margin: -3%;
	padding: 7%;
}

.scene {
	position: fixed;
	bottom: 0;
	right: 10%;
	z-index: 5;
	width: 62%;
}

.kukja {
	position: fixed;
	left: -30%;
	top: -4%;
	z-index: 0;
	width: 26%;
	-webkit-transform: skew(45deg);
	-moz-transform: skew(45deg);
	-o-transform: skew(45deg);
	-webkit-transform: skew(45deg);
}

.back-trees {
	width: 110%;
	z-index: -10;
	margin-bottom: -3%;
	margin-left: -9%;
	-webkit-transform: skew(45deg);
	-moz-transform: skew(45deg);
	-o-transform: skew(45deg);
	-webkit-transform: skew(45deg);
}

.side-trees {
	position: fixed;
	bottom: 0;
	z-index: 10;
	width: 25%;
}

.field-terrain {
	width: 160%;
	position: fixed;
	z-index: -10;
	margin-left: -30%;
}

.lake {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 20%;
	z-index: 20;
}

.field {
	-webkit-transform: skew(-45deg);
	-moz-transform: skew(-45deg);
	-o-transform: skew(-45deg);
	margin-top: -5%;
}

.field-row {
	clear: both;
}

@media screen (max:1206px) {
}

.ground {
	width: 100%;
	height: 60%;
	background-image: url("/public/images/ground-bg.png");
	position: fixed;
	bottom: 0px;
}

.ground-dole {
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0px;
}

.pocva-bg {
	float: left;
	border: 0px solid red;
}

.pocva-bg:hover {
	border: 1px solid black;
}

.pocva:hover img.pocva {
	/*border: 1px solid black; */
	-webkit-transform: translate3d(-2px, -5px, 2px);
	transform: translate3d(0, 0, 0);
}

img.pocva {
	width: 110%;
	height: 110%;
	cursor: pointer;
}

img.ograda-gore {
	width: 110%;
	height: 110%;
	margin-left: -50%;
	-webkit-transform: skew(45deg);
	-moz-transform: skew(45deg);
	-o-transform: skew(45deg);
	-webkit-transform: skew(45deg);
}

.seedling {
	width: 100%;
	height: 200%;
	-webkit-transform: skew(45deg);
	-moz-transform: skew(45deg);
	-o-transform: skew(45deg);
	z-index: 6;
	margin-top: -225%;
	margin-left: -75%;
	float: left;
}

.text-info {
	text-align: center;
	font-family: ag-font;
	color: white;
	font-size: 1.1em;
}