.harvest{
  text-align: center;
}

.harvest svg{
  background: url(/public/images/mini-games/collect-game-bg.png);
  background-size: 1000px 500px;
}

.harvest .stats{
  fill: #000;
  font-family: Tahoma, Verdana, Arial;
  font-weight: bold;
}

.prune .game-bg{
  background: #fff;
  text-align: center;
}

.prune .cut-point{
  fill: green;
  opacity: 0.4;
  cursor: pointer;
}


.prune .cut{
  fill: red;
}