#weather_title {
	position: relative;
	color: #FFFFFF;
	left: 40%;
	top: 30px;
	background: #333333;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

.weather-div {
	float: left;
	width: 15%;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	text-align: center;
	font-size: x-small;
}

.weather-div-bigger {
	float: left;
	width: 25%;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	text-align: center;
	font-size: x-small;
}

.div-weather-past-future {
	width: 85%;
	min-width: 50px;
	min-height: 50px;
	height: 100%;
}

.div-weather-today {
	width: 90%;
	min-width: 60px;
	height: 100%;
}

.weather-info-details-small {
	position: fixed;
	width: 6%;
	height: 10%;
	min-height: 60px;
	top: 85px;
	background-color: #FFFFFF;
	padding: 5px;
	font-size: xx-small;
	z-index: 200;
	border-style: solid;
	border: 1px;
	border-color: 1px;
	text-align: center;
}

.weather-info-details-big {
	position: fixed;
	width: 6%;
	height: 10%;
	min-height: 60px;
	top: 110px;
	right: 200px;
	background-color: #FFFFFF;
	padding: 5px;
	font-size: xx-small;
	z-index: 100;
	border-style: solid;
	border: 1px;
	border-color: 1px;
	text-align: center;
}

.weather-details-info-more-less {
	border-top: 1px;
	border-top-style: solid;
	border-top-color: black;
	text-align: center;
}

.weather-details-info-more-less:hover {
	cursor: pointer;
	background-color: cyan;
}


body {
	font-family: "Trebuchet MS";
}

.div_wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.user_icons_info {
	position: absolute;
	top: 20px;
	left: 25px;
	width: 40px;
	height: 50px;
}

.trapezoid {
	border-top: 20px solid #79551a;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-filter: drop-shadow(0 1px 5px rgba(0, 0, 0, .5));
	-moz-filter: drop-shadow(0 1px 5px rgba(0, 0, 0, .5));
	filter: drop-shadow(0 1px 5px rgba(0, 0, 0, .5));
	width: 80px;
}

.trapezoid-bigger{
	border-top: 25px solid #79551a;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-filter: drop-shadow(0 1px 5px rgba(0, 0, 0, .5));
	-moz-filter: drop-shadow(0 1px 5px rgba(0, 0, 0, .5));
	filter: drop-shadow(0 1px 5px rgba(0, 0, 0, .5));
	width: 80px;

}

.item-bought {
	text-align: center;
	min-width: 100%;
	min-height: 30px;
	color: white;
}


.title-text {
	position: relative;
	top: -23px;
	font-family: ag-font;
	font-size: large;
}

.title-text-larger {
	position: relative;
	top: -30px;
	font-family: ag-font;
	font-size: x-large;
}

#div_user_icon {
	position: absolute;
	width: 100px;
	height: 100px;
	left: -35px;
	top: 7px;
	background-image: url("/public/images/home/igrac.png");
	background-size: 100% 100%;
	text-align: center;
}

#span_user_name {
	position: relative;
	top: 75px;
	font-size: large;
	color: #FFFFFF;
}

#div_apple_in_stock_info {
	position: absolute;
	width: 175px;
	height: 80px;
	left: 125px;
	top: -100px;
	background-image: url("/public/images/home/drven_el.png");
	background-size: 100% 100%;
	text-align: center;
}

#span_icon_apples_in_stock {
	position: absolute;
	top: 35px;
	left: 20px;
	z-index: 10;
}

#span_apples_in_stock_info {
	position: relative;
	top: 35px;
	text-align: center;
	color: #FFFFFF;
	font-size: x-large;
	font-weight: bold;
}

#div_money_in_stock_info {
	position: absolute;
	width: 175px;
	height: 80px;
	left: 330px;
	top: -100px;
	background-image: url("/public/images/home/drven_el.png");
	background-size: 100% 100%;
	text-align: center;
}

#span_money_in_stock_info {
	position: relative;
	top: 35px;
	text-align: center;
	color: #FFFFFF;
	font-size: x-large;
	font-weight: bold;
}

#div_eco_points_info {
	position: absolute;
	width: 175px;
	height: 80px;
	left: 540px;
	top: -100px;
	background-image: url("/public/images/home/drven_el.png");
	background-size: 100% 100%;
	text-align: center;
}

#span_eco_point_info {
	position: relative;
	top: 35px;
	text-align: center;
	color: #FFFFFF;
	font-size: x-large;
	font-weight: bold;
}


#weather_title {
	position: relative;
	color: #FFFFFF;
	left: 40%;
	top: 30px;
	background: #333333;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

#div-shop-wrapper {
	overflow: hidden;
}

.weather_wrapper {
	width: 25%;
	position: absolute;
	right: 20%;
	top: 2%;
	z-index: 100;
}

#weather-info-details {
	opacity: 0;
}

.weather-div {
	float: left;
	width: 17%;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	text-align: center;
	font-size: x-small;
}

.weather_icon {
	width: 80px;
	height: 70px;
}




#div_next_day {
	padding: 10px;
	background-color: white;
	position: absolute;
	top: 150px;
	left: 20px;
	z-index: 100;
}

#div_next_day:hover {
	cursor: pointer;
}