#weather_title {
	position: relative;
	color: #FFFFFF;
	left: 40%;
	top: 30px;
	background: #333333;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

.weather-div {
	float: left;
	width: 15%;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	text-align: center;
	font-size: x-small;
}

.weather-div-image {
	width: 100%;
}

.weather-div-bigger {
	float: left;
	width: 25%;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	text-align: center;
	font-size: x-small;
}

.weather-div-bigger-image {
	width: 100%;
}

.div-weather-past-future {
	width: 85%;
	/*	min-width: 50px;
	min-height: 50px;
	*/
	height: 100%;
}

.div-weather-today {
	width: 90%;
	/*min-width: 60px;*/
	height: 100%;
}

.weather-info-details-small {
	position: fixed;
	width: 6%;
	height: 10%;
	min-height: 60px;
	top: 85px;
	background-color: #FFFFFF;
	padding: 5px;
	font-size: xx-small;
	z-index: 200;
	border-style: solid;
	border: 1px;
	border-color: 1px;
	text-align: center;
}

.weather-info-details-big {
	position: fixed;
	width: 6%;
	height: 10%;
	min-height: 60px;
	top: 110px;
	right: 200px;
	background-color: #FFFFFF;
	padding: 5px;
	font-size: xx-small;
	z-index: 100;
	border-style: solid;
	border: 1px;
	border-color: 1px;
	text-align: center;
}

.weather-details-info-more-less {
	border-top: 1px;
	border-top-style: solid;
	border-top-color: black;
	text-align: center;
	width: 100%;
}

.weather-details-info-more-less:hover {
	cursor: pointer;
	background-color: cyan;
}

body {
	font-family: "Trebuchet MS";
}

.div_wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.user_icons_info {
	position: absolute;
	top: 30%;
	left: 10%;
	width: 27%;
	height: 60%;
}
.trapezoid {
	border-top: 20px solid #79551a;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-filter: drop-shadow(0 1px 5px rgba(0, 0, 0, .5));
	-moz-filter: drop-shadow(0 1px 5px rgba(0, 0, 0, .5));
	filter: drop-shadow(0 1px 5px rgba(0, 0, 0, .5));
	width: 80px;
}
.ramka {
	background: url("/public/images/home/ramka.png");
	background-size:100% 100%;
}

.trapezoid-bigger {
	border-top: 25px solid #79551a;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-filter: drop-shadow(0 1px 5px rgba(0, 0, 0, .5));
	-moz-filter: drop-shadow(0 1px 5px rgba(0, 0, 0, .5));
	filter: drop-shadow(0 1px 5px rgba(0, 0, 0, .5));
	width: 80px;
}

.item-bought {
	text-align: center;
	width: 100%;
	height: 60%;
	min-height:25px;
	color: white;
}
.item-store {
	text-align: center;
	width: 100%;
	height: 20%;
	min-height:25px;
	color: white;
}

.title-text {
	font-family: ag-font;
	font-size: large;
}

.title-text-larger {
	position: relative;
	top: -2px;
	font-family: ag-font;
	font-size: x-large;
}

#div_user_icon {
	position: absolute;
	width: 7%;
	height: 100%;
	left: -35px;
	top: 7px;
	/*background-image: url("/public/images/home/igrac.png");
	background-size: 100% 100%;*/
	text-align: center;
	z-index: 100;
}

.img-user-info {
	width: 90px;
	height: 100px;
}

.img-user-info-ramka {
	position: relative;
	top: -2%;
	background : url("/public/images/home/ramka.png");
	background-size: 100% 100%;
	height: 25px;
	text-align: center;
	font-size: 1.3em;
}

#span_user_name {
	color: #FFFFFF;
}

.div-user-info-general {
	width: 13%;
	position: absolute;
	height: 80px;
	background-size: 100% 100%;
	text-align: right;
	padding-right:2%;
	z-index: 100;
}

#div_apple_in_stock_info {
	left: 9%;
	top: -100px;
	background-image: url("/public/images/home/drven_el.png");
}

#span_icon_apples_in_stock {
	position: absolute;
	top: 35px;
	left: 20px;
	z-index: 10;
}

.span-user-info-details {
	position: relative;
	top: 42%;
	text-align: center;
	color: #FFFFFF;
	font-size: large;
	font-weight: bold;
}


#div_money_in_stock_info {
	left: 23%;
	top: -100px;
	background-image: url("/public/images/home/drven_el.png");
}

#div_eco_points_info {
	left: 37%;
	top: -100px;
	background-image: url("/public/images/home/drven_el.png");
}


#weather_title {
	position: relative;
	color: #FFFFFF;
	left: 40%;
	top: 30px;
	background: #333333;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

#div-shop-wrapper {
	overflow: hidden;
}

.weather_wrapper {
	width: 25%;
	position: absolute;
	right: 20%;
	top: 2%;
	z-index: 100;
}

#weather-info-details {
	opacity: 0;
}

.weather-div {
	float: left;
	width: 17%;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	text-align: center;
	font-size: x-small;
}

.weather_icon {
	width: 80px;
	height: 70px;
}

.time-ctrl-btn{
	float: left;
	z-index: 100;
	margin-right: 10px;
	color: white;
}

.time-ctrl-btn:hover, .time-ctrl-btn a:hover{
	cursor: pointer;
	color: #ddd;
}


.time-ctrl-btn a{
	text-decoration: none;
	color: white;
}

.weather-info-text {
	font-size: 1em;
}


.shop-enter,.shop-leave {
	-webkit-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-moz-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-ms-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-o-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.shop-enter {
	right: 35%;
}

.shop-leave {
	right: -750px;
}

.shop-menu {
	position: fixed;
	width: 40%;
	height: 70%;
	top: 20%;
	background-image: url("/public/images/home/ploca.png");
	background-size: 100% 100%;
	z-index: 1000
}

.shop_icon {
	position: absolute;
	width: 34%;
	height: 100%;
	top: 0%;
	display: inline-block;
	z-index:900;
	margin-top:-14%;
}

.shop_icon-img {
	width:75%;
}



.shop_arrow {
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 2%;
	right: 2%;
	cursor: pointer;
	background-image: url("/public/images/home/prodavnica_strelka.png");
	background-size: 100% 100%;
	z-index: 1000;
}

.shop_menu_grid {
	position: absolute;
	width: 70%;
	height: 80%;
	overflow-y: auto;
	overflow-x: hidden;
	top: 10%;
	left: 25%;
}

.shop-label {
	text-align: center;
	width: 75%;
	height: 8%;
	min-height: 25px;
	padding-bottom: 15%;
}

.shop-label-text {
	position: relative;
	font-family: ag-font;
	color: white;
	font-size: 1.7em;
}

.shop_item_in_grid {
	width: 33%;
	padding-right: 5px;
	float: left;
	text-align: center;
	z-index: 300;
	cursor: pointer;
	float: left;
}

.shop_item_in_grid img {
	width: 100%;
	height: 100%;
}

.info_item_in_grid {
	width: 100%;
	padding-right: 5px;
	float: left;
	text-align: center;
	z-index: 300;
	float: left;
}

.shop-item-label {
	text-align: center;
	min-width: 100%;
	min-height: 25px;
	color: white;
}

.shop-item-price {
	background-image: url("/public/images/game/pricetag.png");
	width: 100%;
	height: 100%;
	background-size: cover;
	text-align: right;
	font-family: ag-font;
	color: white;
	font-size: 1.5em;
	padding-right: 15%;
	padding-top:8%;
	margin-top: -8%;
}

.rotate,.rotateCounterwise {
	-webkit-transition: 300ms ease all;
	-moz-transition: 300ms ease all;
	-o-transition: 300ms ease all;
	transition: 300ms ease all;
}

.rotate {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.rotateCounterwise {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

.modal-backdrop {
	opacity: 0.7;
}

.slide-enter,.slide-leave {
	-webkit-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-moz-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-ms-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-o-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.slide-leave {
	right: -43%;
}

.slide-enter {
	right: -1%;
}

.side-screen {
	position: fixed;
	width: 55%;
	height: 100%;
	z-index: 1000;
	top: 0px;
	background-image: url("/public/images/home/ploca.png");
	background-size: 100% 100%;
}

.side-screen-bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	opacity: 0;
}

.side-arrow {
	position: relative;
	width: 8%;
	height: 8%;
	top: 3%;
	left: 4%;
	cursor: pointer;
	background-image: url("/public/images/home/prodavnica_strelka.png");
	background-size: 100% 100%;
}

.side-items-grid {
	position: absolute;
	width: 75%;
	height: 40%;
	top: 3%;
	left: 23%;
}

.side-items-grid-item {
	width: 20%;
	margin: 3px;
	float: left;
	text-align: center;
}

.side-items-grid-item:HOVER {
	cursor: pointer;
}

.side-item-top {
	width: 100%;
	display: block;
}

.side-item-top img {
	width: 100%;
	height: 100%;
}

.side-item-label {
	text-align: center;
	font-family: ag-font;
	color: white;
	font-size: 100%;
	display: block;
	margin: -3%;
	padding: 3%;
}

.side-operations-grid {
	position: absolute;
	width: 75%;
	height: 50%;
	top: 45%;
	left: 23%;
}

.resume-dialog {
	position: absolute;
	width: 75%;
	height: 50%;
	top: 15%;
	left: 23%;
}

.side-operations-grid-item {
	width: 32%;
	height: 48%;
	cursor: pointer;
	float: left;
	margin-bottom: 3%;
}

.side-operation-item-top {
	width: 100%;
	display: block;
}

.side-operation-item-top img {
	width: 100%;
	height: 100%;
}

.side-operation-item-label {
	text-align: center;
	font-family: ag-font;
	color: white;
	font-size: 160%;
	cursor: pointer;
	display: block;
	margin: -3%;
	padding: 3%;
}

.side-operation-item-label:hover {
	margin: -3%;
	padding: 7%;
}

.progress_div {
	margin-top: 30px;
	text-align: center;
	padding-top: 50px;
}

.progress_div .progress-striped{
	margin-left: 25%;
	margin-right: 25%;
}

.loading-label{
	text-transform: uppercase;
	color: #c91e1e;
	font-size: 32px;
	font-weight: bold;
}

.welcome-screen{
	clear:both;
	margin: 0 auto;
	width: 980px;
}

.welcome-sign{
	margin-top: 100px;
}

.cloud{
	position: absolute;
}

@keyframes cloud-enter-left {
    0%   {left: -1000px;}
}

@-webkit-keyframes cloud-enter-left {
    0%   {left: -1000px;}
}

@keyframes cloud-enter-right {
    0%   {left: 2000px;}
}

@-webkit-keyframes cloud-enter-right {
    0%   {left: 2000px;}
}

.cloud-show-left{
	animation-name: cloud-enter-left;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-play-state: running;

  -webkit-animation-name: cloud-enter-left;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-play-state: running;
}

.cloud-show-right{
	animation-name: cloud-enter-right;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-play-state: running;

  -webkit-animation-name: cloud-enter-right;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-play-state: running;
}

.cloud-1{	top: 100px;	left: 100px; 	right: auto; 		width: 300px}
.cloud-2{	top: 3px;		left: 633px; 	right: auto; 		width: 350px}
.cloud-3{	top: 263;		left: 1300px; right: auto; 		width: 200px}
.cloud-4{	top: 500px;	left: 800px; 	right: auto; 		width: 310px}
.cloud-5{	top: 350px;	left: 400px; 	right: auto; 		width: 360px}
.cloud-6{	top: 222px;	left: 610px; 	right: auto; 		width: 410px}
.cloud-7{	top: 600px;	left: 0px; 		right: auto; 		width: 380px}
.cloud-8{	top: 700px;	left: 1100px; 	right: auto; 		width: 280px}

@media ( max-width : 1200px) {
	.weather-info-text {
		font-size: 0.9em;
	}
	.title-text-larger {
		font-size:1.5em;
	}
	.shop-item-price {
		font-size: 1.3em;
	}
}

@media ( max-width : 1100px) {
	.weather-info-text {
		font-size: 0.8em;
	}
	.shop-label-text {
		font-size: 1.4em;
	}
	.shop-item-price {
		font-size: 1.2em;
	}
}

@media ( max-width : 1000px) {
	.weather-info-text {
		font-size: 0.6em;
	}
	.img-user-info-ramka {
		font-size: 1em;
		height: 20px;
	}
	.div-user-info-general {
		height: 60px;
	}
	.span-user-info-details {
		font-size: 1em;
		top: 47%;
	}
	.title-text {
		font-size: 1em;
	}
	.shop-label-text {
		font-size: 1.2em;
	}
	.shop-item-price {
		font-size: 1.0em;
	}

}

@media ( max-width : 800px) {
	.span-user-info-details {
		font-size: 0.8em;
		top: 47%;
	}
	.title-text-larger {
		font-size:1.3em;
	}
	.shop-label-text {
		font-size: 1.1em;
	}
	.shop-item-price {
		font-size: 0.8em;
	}
	.shop-label {
		height:7%;
	}
}

@media ( max-width : 700px) {
	.weather-info-text {
		font-size: 0.4em;
	}
	.img-user-info-ramka {
		font-size: 0.8em;
		height: 18px;
	}
	.div-user-info-general {
		height: 60px;
	}
	.span-user-info-details {
		font-size: 0.7em;
		top: 47%;
	}
}

@media ( max-width : 600px) {
	.div-user-info-general {
		height: 45px;
	}
	.span-user-info-details {
		font-size: 0.6em;
		top: 38%;
	}

	.title-text {
		font-size: 0.7em;
	}

	.title-text-larger {
		font-size:1em;
	}
	.shop-item-label {
		min-height: 20px;
	}
	.item-store {
		min-height: 20px;
	}
	.shop-item-price {
		font-size: 0.5em;
	}
}

@media ( max-width : 580px) {
	.item-bought {
		min-height:15px;
	}
}

@media ( max-width : 400px) {
	.weather-info-text {
		font-size: 0.6em;
	}
	.img-user-info-ramka {
		font-size: 0.6em;
		height: 15px;
	}
	.div-user-info-general {
		height: 40px;
	}
	.weather-div {
		display: none;
	}
	.weather-div-bigger {
		float: none;
		width: 60%;
	}
	.shop-item-price {
		font-size: 0.4em;
	}
}