
#weather_title {
	position: relative;
	color: #FFFFFF;
	left: 40%;
	top: 30px;
	background: #333333;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

.weather_wrapper {
	width: 300px;
	position: absolute;
	right: 200px;
	top: 5px;
}
.weather-div {
	float: left;
	width: 17%;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	text-align: center;
	font-size: x-small;
}
.weather-div-bigger {
	float: left;
	width: 25%;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	text-align: center;
	font-size: x-small;
}
.div-weather-past-future {
	width: 50px;
	height: 40px;
}
.div-weather-today {
	width: 75px;
	height: 65px;
}
.weather-info-details-small {
	position: fixed;
	width: 60px;
	height: 60px;
	top: 85px;
	background-color: #FFFFFF;
	padding: 5px;
	font-size: xx-small;
	z-index: 100;
	border-style: solid;
	border:1px;
	border-color: 1px;
}
.weather-info-details-big {
	position: fixed;
	width: 80px;
	height: 60px;
	top: 110px;
	right: 200px;
	background-color: #FFFFFF;
	padding: 5px;
	font-size: xx-small;
	z-index: 100;
	border-style: solid;
	border:1px;
	border-color: 1px;
}
.weather-details-info-more-less {
	border-top: 1px;
	border-top-style: solid;
	border-top-color: black;
	text-align: center
}
.weather-details-info-more-less:hover {
	cursor: pointer;
	background-color: cyan;
}

.rotate,.rotateCounterwise {
	-webkit-transition: 300ms ease all;
	-moz-transition: 300ms ease all;
	-o-transition: 300ms ease all;
	transition: 300ms ease all;
}

.rotate {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.rotateCounterwise {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

.modal-backdrop {
	opacity: 0.7;
}


.slide-enter, 
.slide-leave
{ 
  -webkit-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
} 
 
.slide-leave {
  right: -570px;
}
 
.slide-enter {
 right: -10px;
}

.shop-enter, 
.shop-leave
{ 
  -webkit-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
} 
 
.shop-enter {
  right: 350px;
}
 
.shop-leave {
 right: -750px;
}

body {
	font-family: "Trebuchet MS";
}

.div_wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}
.user_icons_info{
	position:absolute;
	top:35px;
	left:22px;
	width:40px;
	height:50px;
}

#div_user_icon {
	position: absolute;
	width: 175px;
	height: 175px;
	left: -35px;
	top: 170px;
	background-image: url("/public/images/home/igrac.png");
	background-size: 100% 100%;
	text-align: center;
}

#span_user_name {
	position: relative;
	top: 145px;
	font-size: x-large;
	color: #FFFFFF;
}

#div_apple_in_stock_info {
	position: absolute;
	width: 200px;
	height: 105px;
	left: 75px;
	top: -100px;
	background-image: url("/public/images/home/drven_el.png");
	background-size: 100% 100%;
	text-align: center;
}

#span_icon_apples_in_stock {
	position: absolute;
	top:40px;
	left:10px;

	z-index: 10;
}

#span_apples_in_stock_info {
	position:relative;
	top:50px;
	text-align: center;
	color:#FFFFFF;
	font-size:x-large;
	font-weight: bold;
}

#div_money_in_stock_info {
	position: absolute;
	width: 200px;
	height: 105px;
	left: 290px;
	top: -100px;
	background-image: url("/public/images/home/drven_el.png");
	background-size: 100% 100%;
	text-align: center;
}

#span_money_in_stock_info {
	position:relative;
	top:50px;
	text-align: center;
	color:#FFFFFF;
	font-size:x-large;
	font-weight: bold;
}

#div_eco_points_info {
	position: absolute;
	width: 200px;
	height: 105px;
	left: 500px;
	top: -100px;
	background-image: url("/public/images/home/drven_el.png");
	background-size: 100% 100%;
	text-align: center;
}

#span_eco_point_info {
	position:relative;
	top:50px;
	text-align: center;
	color:#FFFFFF;
	font-size:x-large;
	font-weight: bold;
}

#div-shop-manu {
	position: fixed;
	width: 600px;
	height: 500px;
	top: 130px;
	background-image: url("/public/images/home/ploca.png");
	background-size: 100% 100%;
	z-index:20
}

#shop_icon_div_main_menu {
	position: absolute;
	width: 180px;
	height: 170px;
	top: -110px;
	background-image: url("/public/images/home/prodavnica-icon-gore.png");
	background-size: 100% 100%;
}

#shop_arrow_main_menu {
	position: absolute;
	width: 90px;
	height: 90px;
	top: 400px;
	left: 500px;
	cursor: pointer;
	background-image: url("/public/images/home/prodavnica_strelka.png");
	background-size: 100% 100%;
}

#div-side-screen {
	position: fixed;
	width: 750px;
	height: 700px;
	z-index: 1000;
	top: 0px;
	background-image: url("/public/images/home/ploca.png");
	background-size: 100% 100%;
}

.side-screen-bg {
	position: absolute;
	top:0;
	left:0;
	z-index: 999;
	opacity: 0;
}


#home_arrow_main_menu {
	position: relative;
	width: 60px;
	height: 60px;
	top: 0px;
	left: 30px;
	cursor: pointer;
	background-image: url("/public/images/home/prodavnica_strelka.png");
	background-size: 100% 100%;
}

.side-icon-1 {
	position: absolute;
	width: 180px;
	height: 180px;
	top: 160px;
	left: 170px;
	background-size: 100% 100%;
}

.side-icon-2 {
	position: absolute;
	width: 180px;
	height: 180px;
	top: 160px;
	left: 370px;
	background-size: 100% 100%;
}

.side-icon-3 {
	position: absolute;
	width: 180px;
	height: 180px;
	top: 160px;
	left: 570px;
	background-size: 100% 100%;
}

.side-icon-4 {
	position: absolute;
	width: 180px;
	height: 190px;
	top: 310px;
	left: 170px;
	background-size: 100% 100%;
}

.side-icon-5 {
	position: absolute;
	width: 180px;
	height: 190px;
	top: 310px;
	left: 370px;
	background-size: 100% 100%;
}

.side-icon-6 {
	position: absolute;
	width: 180px;
	height: 190px;
	top: 310px;
	left: 570px;
	background-size: 100% 100%;
}




.side-icon-1:hover {
	cursor: pointer;
	width: 200px;
	height: 200px;
	top: 150px;
	left: 160px;
}

.side-icon-2:hover {
	cursor: pointer;
	width: 200px;
	height: 200px;
	top: 150px;
	left: 360px;
}


.side-icon-3:hover {
	cursor: pointer;
	width: 200px;
	height: 200px;
	top: 150px;
	left: 560px;
}

.side-icon-4:hover {
	cursor: pointer;
	width: 200px;
	height: 200px;
	top: 310px;
	left: 160px;
}

.side-icon-5:hover {
	cursor: pointer;
	width: 200px;
	height: 200px;
	top: 310px;
	left: 360px;
}

.side-icon-6:hover {
	cursor: pointer;
	width: 200px;
	height: 200px;
	top: 310px;
	left: 560px;
}

#weather_title {
	position: relative;
	color: #FFFFFF;
	left: 40%;
	top: 30px;
	background: #333333;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

#div-shop-wrapper {
	overflow: hidden;
}
.weather_wrapper {
	width:500px;
	position:absolute;
	left:210px;
	top: 67px;
}
.weather-div {
	float: left;
	width:19%;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	text-align: center;
}
.weather_icon {
	width:80px;
	height:70px;
}
.shop_menu_grid {
	position:absolute;
	width:400px;
	height:500px;
	top:50px;
	left:150px;
}
.shop_item_in_grid {
	padding-right:40px;
	width:33%;
	float:left;
	text-align: center;
	background-size: cover;
	z-index: 300
}
.shop_icon_in_grid {
	width:120px;
	height:110px;
	background-size: cover;
}
.shop_icon_in_grid:hover {
	cursor: pointer;
}
