

<div class="shop-menu" ng-animate="shop"
	ng-class="{true: 'shop-enter', false: 'shop-leave'}[visible]">
	<div class="shop_icon">
		<img class="shop_icon-img" ng-src="{{storeUrl}}"
			popover-trigger="mouseenter" popover-placement="bottom"
			popover="{{shop.description}}"></img>
		<div class="shop-label ramka" popover-trigger="mouseenter"
			popover-placement="bottom" popover="{{shop.description}}">
			<span class="shop-label-text">{{shop.name | translate}}</span>
		</div>
	</div>
	<div class="shop_arrow" ng-show="showNext" ng-click="hide()"></div>
	<div class="shop_menu_grid">
		<div class="shop_item_in_grid" ng-repeat="base in bases"
			popover-trigger="mouseenter" popover-placement="bottom"
			ng-mouseover="onHover(base)" ng-click="buyBase(base)">

			<div class="shop-item-name ramka">{{item.name}}</div>
			<div class="shop-item-label ramka" ng-if="item.active"
				ng-click="itemClick(item)">
				<span class="title-text" translate="{{base.name}}"></span>
			</div>
			<img ng-src="{{base.imageurl}}"></img>
			<div class="shop-item-label ramka" ng-if="base.active"
				ng-click="itemClick(item)">
				<span class="title-text" translate="{{base.name}}"></span>
			</div>

		</div>
	</div>

</div>