<div class="board-bg">
	<div class="row seedling-planting">
		<div class="select-seedling col-md-5">
			<table>
				<tr>
					<td></td>
					<td ng-repeat="st in seedlingTypes | orderBy: id">
						<div popover-trigger="mouseenter" popover-placement="bottom"
							popover="{{st.description}}" ng-click="setSelectedPlantType(st)">
							<img ng-src="{{st.imageurl}}" class="seedling-type-header"></img>
							<div class="shop-item-label ramka">
								<span class="title-text" translate="{{st.name}}"></span>
							</div>
						</div>
					</td>
				</tr>
				<tr ng-repeat="at in appleTypes" ng-if="selectedPlantType!==undefined">
					<td>
						<div popover-trigger="mouseenter" popover-placement="bottom"
							popover="{{at.description}}">
							<img ng-src="{{at.imageurl}}" class="seedling-type-header"></img>
							<div class="shop-item-label ramka">
								<span class="title-text" translate="{{at.name}}"></span>
							</div>
						</div>
					</td>
					<td colspan="2">
						<spin value="at.quantity" min="0" max="1000" step="50" callback="onChange"/>
						
<!-- 						<div slider class="slider" cfg="nCfg" -->
<!-- 												value="at.quantity" type="at"></div> -->

							 <!-- 						<div slider class="slider" cfg="nCfg(at)" -->
						<!-- 							value="at.quantity"></div> -->
					</td>
					<td align="center">
						<div class="shop-item-price" ng-if="at.quantity!==undefined">{{at.quantity * selectedPlantType.price | number}}</div>
					</td>
					<!--  <td
						ng-repeat="s in seedlings | filter: { type: at }: true | orderBy: seedlingType.id"
						class="td-price">
						<div slider class="slider" cfg="nCfg"
							value="fertilizer.N[0].value"></div> <span
						class="seedling-price badge" ng-click="select(s)">{{s.price}}</span>
					</td>-->
				</tr>
			</table>
		</div>
		<div class="select-seedling-quantity"
			style="float: left; margin-left: 100px">
			<h3>{{ 'total' | translate }}: {{sumPrice}}</h3>
			<table ng-if="finishedSelection">
				<tr ng-repeat="s in selected">
					<td>
						<div popover-trigger="mouseenter" popover-placement="bottom"
							popover="{{s.type.description}}">
							<img ng-src="{{s.type.imageurl}}" class="seedling-type-header"></img>
							<div class="shop-item-label ramka">
								<span class="title-text" translate="{{s.type.name}}"></span>
							</div>
						</div>
					</td>
					<td style="width: 100px">
						<div popover-trigger="mouseenter" popover-placement="bottom"
							popover="{{s.seedlingType.description}}">
							<img ng-src="{{s.seedlingType.imageurl}}"
								class="seedling-type-header"></img>
							<div class="shop-item-label ramka">
								<span class="title-text"
									translate="{{s.seedlingType.description}}"></span>
							</div>
						</div>
					</td>
					<td style="width: 80px">{{ 'quantity' | translate }}: <input
						type="number" ng-model="s.quantity" style="width: 50px" /><br />
						{{ 'price' | translate }}: {{ s.quantity* s.price }}
					</td>
					<td ng-click="removeSelected(s)"><span
						class="btn btn-xs remove">{{ 'remove' | translate }}</span></td>
				</tr>
			</table>
			<br />
			<button ng-if="sumPrice!==0" class="btn btn-default btn" ng-click="buySeedlings()">{{
				'buy_seedlings' | translate }}</button>
		</div>

	</div>
</div>