<div ng-if="nextDay">
	<div id="div_timeline_travel">
		<div style="padding-left: 10px;">
			<img class="img img-responsive" style="width: 100px; height: 75px"
				ng-src="/public/images/seasons/season-{{$root.farmer.season_level}}.png" />
			<div class="item-store ramka" style="width:100px">
			<span class="title-text">{{"season."+$root.farmer.season_level | translate}}</span></div>
		</div>
		<div class="time-controls ramka">
			<div class="time-ctrl-btn" tooltip="Next Day" id="div_next_day"
				ng-click="$root.next()">
				<span style="margin-right: 5px;" id="span_next_day"></span><i
					class="glyphicon glyphicon-step-forward"></i>
			</div>
			<div class="time-ctrl-btn" tooltip="Next Week" id="div_next_week"
				ng-click="$root.nextWeek()">
				<span style="margin-right: 5px;" id="span_next_week"></span><i
					class="glyphicon glyphicon-forward"></i>
			</div>
			<div class="time-ctrl-btn" tooltip="Next Month" id="div_next_month"
				ng-click="$root.nextMonth()">
				<span style="margin-right: 5px;"></span><i
					class="glyphicon glyphicon-fast-forward"></i>
			</div>
			<div class="time-ctrl-btn">
				<a tooltip="Restart"
					class="div_restart_game glyphicon glyphicon-repeat"
					href="/fbcontroller/restart" id="div_restart_game"></a>
			</div>
		</div>

	</div>
</div>
<div id="div_next_day" ng-if="planting">
	<div id="span_next_day">{{availableSeedlings}} {{
		'seedlings_left' | translate }}</div>
	<div id="span_next_day">{{ 'base' | translate}} :
		{{$root.plantation.base}}</div>
	<div id="span_next_day">
		<button ng-click="plantingDone()">{{ 'planting_done' |
			translate}}</button>
	</div>
</div>
<side-menu weather="weather" actions="actions"></side-menu>



<div ng-controller="ShoppingController"></div>
<div ng-controller="PlowingController"></div>
<div ng-controller="DeepPlowingController"></div>
<div ng-controller="DiggingController"></div>
<div ng-controller="HarvestingController"></div>
<div ng-controller="SprayingController"></div>
<div ng-controller="ClothingController"></div>
<div ng-controller="TipsController"></div>

<ng-include src="'/public/_views/scenes/fertilization.html'"></ng-include>
<ng-include src="'/public/_views/scenes/irrigation.html'"></ng-include>
<ng-include src="'/public/_views/scenes/plowing.html'"></ng-include>
<ng-include src="'/public/_views/scenes/terrain-analyse.html'"></ng-include>
<ng-include src="'/public/_views/scenes/deseases.html'"></ng-include>


<div ng-controller="PlantingController"></div>


<ng-include src="'/public/_views/scenes/planting.html'"></ng-include>


