<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/public/stylesheets/shopwindow.css" />
	<link rel="stylesheet" type="text/css" href="/public/stylesheets/animations.css" />
	<link rel="stylesheet" type="text/css" href="/public/stylesheets/mini-games.css" />
	<link rel="stylesheet" type="text/css" href="/public/bower_components/jquery-ui/themes/smoothness/jquery-ui.css" />
	<link href="/public/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>

	<link href="/public/bower_components/bootstrap/dist/css/font-awesome.min.css" rel="stylesheet"/>
	<link href="/public/bower_components/ng-slider/src/css/ng-slider.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="/public/stylesheets/main.css" />
	<link rel="stylesheet" type="text/css"
	href="/public/bower_components/AngularJS-Toaster/toaster.css"/>
	<link rel="stylesheet" type="text/css" href="/public/bower_components/angular-nvd3/angular-nvd3.js"/>
	<link rel="stylesheet" type="text/css" href="/public/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.css"/>
	<link rel="stylesheet" type="text/css" href="/public/bower_components/angular-audio/css/ng-audio.css"/>
</head>
<body class="body-transition-bkg background-default" style="background: url('/public/images/backgrounds/introduction.jpg'); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat;">




	<div class="shop-menu" ng-animate="shop" ng-class="{true: 'shop-enter', false: 'shop-leave'}[visible]">
  <div class="shop_icon">
       <img src="/public/images/home/rankings-bordered.png" style="width: 75%;"></img>
      <div class="shop-label ramka">
          <span class="shop-label-text"> {{ 'ranking' | translate }}
          </span>
      </div>
  </div>


  	<div class="text-center">
  		<label class="control-label col-md-6" for="year">{{'ranking.chooseYear' | translate}} </label>
  		<select id="year" style="width:150px" ng-change="changeYear(selectedYear)" class="form-control"  ng-model="selectedYear" ng-options="year.year for year in years track by year.year"></select>
  	</div>
    <table class="table" st-table="displayedRankings" st-safe-src="rankings">
      <tr>
        <th st-sort="name">{{ 'name' | translate}}</th>
        <th st-sort="apples_in_stock">{{ 'apples' | translate}}</th>
        <th st-sort="balance">{{ 'money' | translate}}</th>
        <th st-sort="eco_points">{{ 'eco points' | translate}}</th>
        <th st-sort="eco_points">{{ 'total_points' | translate}}</th>
      </tr>
      <tr>
        <th colspan="4"><input st-search="" class="form-control" placeholder="{{'search' | translate}}" type="text"/></th>
      </tr>
      <tr ng-repeat="user in displayedRankings">
        <td>{{user.farmer.name}} {{ user.farmer.surname }}</td>
        <td>{{user.harvestQuantity}}</td>
        <td>{{user.moneyEarned}}</td>
        <td>{{user.ecoPoints}}</td>
        <td>{{user.totalPoints}}</td>
      </tr>
    </table>
  </div>
</div>


</body>
</html>